.project
.settings
.metadata
salesforce.schema
Referenced Packages
*.sublime-project
*.sublime-settings
*.sublime-workspace
*.code-workspace
apex-scripts/log
build.properties
config
*.log
*.log
*.zip
*.txt
*.json
.gitignore
myAnt
ApexDoc
BigObject
debug
